.cont{
    width: 500px;
}
body{
    background-image: url(../img/bg1.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10%;
  
}
.logo{
    position: relative;
    right: 420px;
    width: 40%;
    height: 100px;
    border-radius: 50px;
}
.title{
    font-family: 'Almendra SC';
    font-size: 4em;
    text-align: center;
    text-decoration: underline;
    color: rgb(255, 255, 255);
}
.title:hover {
  color: #0ab941;
}
h3{
    display: inline;
}
.form{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 35%;
    height: 35px;
    border: 2px solid blueviolet;
    border-radius: 7px;
}
#Uinput{
    width: 80%;
    height: 50px;
    border: 3px solid black;
    border-radius: 15px;
}
#Uinput{
    color: rgb(20, 19, 18);
    font-size: 1em;
    box-shadow: 0 0 20px #fff;
    transition: 0.1s;
}
#result{
    width: 60%;
    height: 50px;
    position: relative;
    left: 50px;
    color: black;
    background-color: azure;
}
.btn{
    margin-right: 50px;
    position: relative;
    left: 80px;
}
.btn:hover{
    background-color: black;
    color: skyblue;
}
h3{
    color: skyblue;
}
